# Logs
logs
*.log

# Bower dependency directory (https://bower.io/)
bower_components

# Dependency directories
node_modules/
jspm_packages/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# dotenv environment variables file
.env
.env.test

# Compiled Typescript output
dist/

# WhatsApp Session keys and credentials
auth_info_baileys/

# IDE
.vscode/
.idea/
